html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/style.css")
    body
        include ./components/nav.pug
        .city-info
            ul.city-info-list
                li
                    span.info-key MONEY: 
                    span.info-value #{user.money} 
                li
                    span.info-key EXP: 
                    span.info-value #{user.exp}/3000 
                li
                    span.info-key LEVEL: 
                    span.info-value #{user.level}

                li
                    span.info-key BUILDINGS:  
                    span.info-value #{user.building.length}

                li
                    span.info-key EXPENSES: 
                    span.info-value #{cityInfo.expenses}   

                li
                    span.info-key EARNINGS: 
                    span.info-value #{cityInfo.earnings}   

                li
                    span.info-key ENERGY USED: 
                    span.info-value #{cityInfo.energyUsed}  

                li
                    span.info-key PRODUCED ENERGY:   
                    span.info-value #{cityInfo.producedEnergy} 

                li
                    span.info-key PEOPLE: 
                    span.info-value #{cityInfo.people} 
                li 
                    span.logout-button LOGOUT

        .map
        script(src="https://unpkg.com/axios/dist/axios.min.js", defer)
        script(src="/scripts/chunk.js")
        script(src="/scripts/setBuilding.js") 
        script(src="/services/api.service.js")
        script(src="/services/user.service.js")
        script(src="/auth/logout.js")
        script(src="/scripts/round.js")
